.header {
  padding-bottom: 3.33rem;

  .name {
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
  }

  &.invert {
    .name {
      color: #FFFFFF;
    }
    .icon {
      &:before,
      &:after {
        border-color: #FFFFFF;
      }
    }
  }

  .icon {
    position: relative;
    width: 2rem;
    margin: 2.92rem auto 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 1rem;
      width: 7.17rem;
      border-top: 1px solid #2B2B2B;
    }
    &:before {
      left: -8.83rem;
    }

    &:after {
      left: 3.67rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
