.about-me {
  p {
    margin: 0 1.5rem 3.33rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.45rem;
    text-align: justify;
    color: #888B90;
    font-family: 'Lato', sans-serif;
  }
}
